<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KakeiboForMVC</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>

<body>
    <header>
        <!-- メニューバーの表示 -->
        <div class="menu-items">
            <div class="menu-item"><a href="/Kakeibo/Input">入力</a></div>
            <div class="menu-item"><a href="/Kakeibo/Display">表示</a></div>
            <div class="menu-item"><a href="/Kakeibo/Update">修正</a></div>
            <div class="menu-item">
                <a>設定</a>
                <div class="dropdown-lists">
                    <div class="dropdown-list"><a href="/Himoku/Input">費目コード</a></div>
                    <div class="dropdown-list"><a href="/kakeibo/#">その他</a></div>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </main>

    <footer></footer>
</body>
</html>
