<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KakeiboForMVC</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- メニューバーの表示 -->
        <div class="menuItems">
            <div class="menuItem"><a href="/Kakeibo/Input">入力</a></div>
            <div class="menuItem"><a href="/Kakeibo/Display">表示</a></div>
            <div class="menuItem"><a href="/Kakeibo/Update">修正</a></div>
            <div class="menuItem">
                <a>設定</a>
                <div class="dropdownLists">
                    <div class="dropdownList"><a href="http://localhost:8080/kakeibo/HimokuServlet">費目設定</a></div>
                    <div class="dropdownList"><a href="http://localhost:8080/kakeibo/#">その他</a></div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer></footer>
</body>
</html>
