@charset "UTF-8";

/*定数*/
:root {
    --screen-width-default: 1920px;
    --screen-width-min: calc(var(--screen-width-default) / 2);
    --screen-width-max: 1920px;
    --screen-height-default: 1080px;
    --screen-height-min: calc(var(--screen-height-default) / 2);
    --screen-height-max: 1080px;
    --font-size-default: 18px;
    --font-size-min: 9px;
    --font-size-max: 24px;
    --font-size-fluid: calc(var(--font-size-default) / var(--screen-width-default) * 100vw);
    --font-size-m: clamp(var(--font-size-min), var(--font-size-fluid), var(--font-size-max));
    --font-size-ss: calc(var(--font-size-m) * 0.6);
    --font-size-s: calc(var(--font-size-m) * 0.8);
    --font-size-l: calc(var(--font-size-m) * 1.2);
    --font-size-ll: calc(var(--font-size-m) * 1.4);
}

/*フォントサイズの設定*/
.font-size-ss {
    font-size: var(--font-size-ss);
}

.font-size-s {
    font-size: var(--font-size-s);
}

.font-size-m {
    font-size: var(--font-size-m);
}

.font-size-l {
    font-size: var(--font-size-l);
}

.font-size-ll {
    font-size: var(--font-size-ll);
}

/*全体の設定*/
html {
    font-family: "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    font-size: var(--font-size-m);
}

body {
    display: flex;
    flex-direction: column;
    width: clamp(var(--screen-width-min), 100vw, var(--screen-width-max));
    height: clamp(var(--screen-height-min), 100vh, var(--screen-height-max));
    margin: 0;
}

/*メニューバーの設定*/
header {
    width: stretch;
    height: 5%;
    z-index: 2;
}

/*メインエリアの設定*/
main {
    display: flex;
    align-items: stretch;
    width: stretch;
    height: 90%;
}

/*フッターの設定*/
footer {
    width: stretch;
    height: 5%;
    z-index: 2;
    background-color: rgb(64, 0, 0);
}

/*メニューバーの設定*/
.menu-items {
    display: flex;
    flex-direction: row;
    height: stretch;
    flex-wrap: wrap;
    cursor: pointer;
    transition: all .3s;
}

.menu-item {
    flex: 1 0 5rem;
    position: relative;
    background-color: rgb(64, 0, 0);
    transition: all .3s;
}

    .menu-item:hover {
        background-color: rgb(192, 192, 192);
    }

    .menu-item a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-decoration-line: none;
        color: white;
        transition: all .3s;
    }

    .menu-item:hover a {
        color: rgb(96, 0, 0);
    }

.dropdown-lists {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}

.menu-item:hover .dropdown-lists {
    display: block;
}

.dropdown-list {
    height: 100%;
    position: relative;
    background-color: rgb(64, 0, 0);
    transition: all .3s;
}

.menu-item:hover .dropdown-list:hover {
    background-color: rgb(160, 160, 160);
}

.menu-item:hover .dropdown-list a {
    color: white;
    position: relative;
}

.menu-item:hover .dropdown-list:hover a {
    color: rgb(96, 0, 0);
}

/*フッターの設定*/
.footer-items {
    display: flex;
    flex-direction: row;
    height: stretch;
    flex-wrap: wrap;
    cursor: pointer;
    transition: all .3s;
}

.footer-item {
    width: auto;
    position: relative;
    background-color: rgb(64, 0, 0);
    transition: all .3s;
}

    .footer-item:hover {
        background-color: rgb(192, 192, 192);
    }

    .footer-item a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration-line: none;
        color: white;
        transition: all .3s;
    }

    .footer-item:hover a {
        color: rgb(96, 0, 0);
    }

    .footer-item div {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        transition: all .3s;
    }

    .footer-item:hover div {
        color: rgb(96, 0, 0);
    }

/*メインエリアの設定*/
.container {
    display: flex;
    height: stretch;
    width: stretch;
}

/*コンソールの設定*/
#console {
    display: flex;
    width: auto;
    height: stretch;
    padding: 1rem 0.5rem;
    background-color: rgb(160, 160, 160);
}

/*テーブルの設定*/
#table-section {
    display: flex;
    flex-direction: column;
    height: stretch;
    padding: 0 1rem 1rem 1rem;
}

#table-title {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-size: var(--font-size-l)
}

#table-area {
    overflow: auto;
}

#table {
    font-size: inherit;
    border-collapse: collapse;
}

.fixed-row-col {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0.3rem 0.5rem;
    text-align: center;
}

    .fixed-row-col::before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: "";
        border: 1px solid black;
        background-color: rgb(192, 192, 192);
    }

.fixed-row {
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

    .fixed-row::before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: "";
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        background-color: rgb(192, 192, 192);
    }

.fixd-col {
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

    .fixd-col::before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: "";
        border-right: 1px solid black;
        border-left: 1px solid black;
        background-color: rgb(224, 224, 224);
    }

.body-row td {
    border: 1px solid black;
    background-color: white;
}

.bottom-row td {
    border: 1px solid black;
    background-color: rgb(224, 224, 224);
}

.number-col {
    padding: 0.3rem 0.5rem;
    text-align: right;
    vertical-align: middle;
}

.date-col {
    padding: 0.3rem 0.5rem;
    text-align: center;
    vertical-align: middle;
}

.text-col {
    padding: 0.3rem 0.5rem;
    text-align: left;
    vertical-align: middle;
}

.inner-box-col {
    padding: 0.2rem;
    text-align: center;
    vertical-align: middle;
}

#table input,
#table select {
    width: 100%;
    box-sizing: border-box;
    border: none;
}

/*エラーメッセージの設定*/
.error-message-area {
    height: auto;
    margin-top: 1rem;
    border: 1px solid;
    border-radius: 0.2rem;
    background-color: white;
}

    .error-message-area ul {
        margin: 0;
        padding: 0 0 0 2rem;
    }

    .error-message-area li {
        margin: 0;
        padding: 0;
        color: red;
    }

/*確認ダイアログの設定*/
#confirmDialog {
    width: 15rem;
    height: 5rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.2rem;
}

    #confirmDialog .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/*非表示エレメントの設定*/
@media screen {
    .no-screen-element {
        display: none;
    }
}

/*エレメント標準設定*/
.flex-row {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

input[type="text"],
input[type="date"],
input[type="number"],
select,
textarea {
    box-sizing: border-box;
    height: 1.8rem;
    border: 1px solid;
    border-radius: 0.2rem;
    font-size: inherit;
}

input[type="number"] {
    text-align: right;
}

input[type="submit"] {
    width: auto;
    border-radius: 0.2rem;
    font-size: inherit;
    white-space: nowrap;
    background-color: rgb(192, 192, 192);
    cursor: pointer;
    transition: all .3s;
}

button {
    width: auto;
    border-radius: 0.2rem;
    font-size: inherit;
    white-space: nowrap;
    background-color: rgb(192, 192, 192);
    cursor: pointer;
    transition: all .3s;
}
